* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

header {
  background-color: gray;
}

main {
  margin: 0% 5vw;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  z-index: 999;
  color: white;
  text-shadow: 1.5px 1.5px black;
}

#about {
  position: absolute;
  max-width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  opacity: 0;
  animation-name: fadein;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

#nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 25%);
  z-index: 999;
  color: white;
  text-shadow: 1.5px 1.5px black;
}

.mainGridWrapper {
  display: grid;
  grid-auto-rows: 100vh;
}

.navItem {
  position: relative;
  display: inline-block;
  margin: 0px 0.5vw;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
